.containerProfile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.helloImText {
  font-size: large;
  color: #d1d5db;
}

.nameText {
  font-weight: bold;
  font-size: x-large;
}

.jobText {
  font-style: italic;
  font-size: large;
  color: #d1d5db;
}

.buttonField {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.buttonStyle {
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 24px;
  opacity: 0.8;
  width: 144px;
  border: none;
  cursor: pointer;
  transition: opacity 200ms;
}
