/* src/components/ProjectCard.css */
.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-color: gray;
  margin: 10px;
}

.titleText {
  font-weight: bold;
  font-size: 25px;
}

.card:hover {
  transform: translateY(-4px);
}
