.ProjectCardContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  scrollbar-width: thin;
}

.ProjectTitleText {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 100;
}
