.skillSectionContainer {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.skillSectionRows {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}
